* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.screen {
  width: vw;
  height: 100vh;
  display: flex;
}

.hidden {
  display: none;
}

.side-bar {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.2rem 0 1.2rem;
  background-color: #fff;
  color: #484848;
  font-size: 1.4rem;
  fill: #606060;
  background-color: #fefefd;
}

.profile-info {
  height: 15%;
  /* color: #101010; */
}

.tabs {
  padding-bottom: rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.log-out {
  height: 15%;
  padding-top: 2.4rem;
}

.dash-main {
  height: 100%;
  width: 85%;
  /* background-color: brown; */
  padding: 2.4rem;
}

.dash-main .pri-head {
  font-size: 2.4rem;
  line-height: 1.5;
}

.dash-main .sec-head {
  font-size: 1.2rem;
  line-height: 2;
  padding-left: 0.4rem;
}

.boxes {
  display: flex;
  gap: 3.6rem;
  margin: 2.8rem 0;
}

.box {
  background-color: aqua;
  padding: 1.6rem 1.6rem;
  width: 19rem;
  height: 14.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #202020;
}
.box .amount {
  font-size: 3.5rem;
  font-weight: 600;
}
.percent-green {
  color: #008425;
}

.balance {
  background-color: #eef6ff;
}

.credit {
  background-color: #e2ffed;
}

.expense {
  background-color: #ffefef;
}

.percent-red {
  color: #ff3131;
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem 0 0.5rem 0.8rem;
  border-radius: 0.8rem;
}

.tab .logo {
  width: 2.4rem;
  height: 2.4rem;
}

.profile-info .logo {
  height: 2.1rem;
  width: 2.1rem;
  fill: #fff;
  background-color: #606060;
  border-radius: 50%;
}

.tab:hover {
  background-color: #389bff;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.profile-info .tab:hover {
  background-color: #fff;
  color: #606060;
}
